<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecart</title>
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/css/productDetailPAge.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
  </head>
  <body>
    
    <!-- header -->
    <%- include('header') -%>

    <!-- main -->
    <main>
      <!-- <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 searchBar d-flex align-items-center justify-content-center position-relative"
          >
            <div
              class="sortOption position-absolute d-flex align-items-center gap-3"
            >
              <div class="fliterIcon">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.8333 19.5V17.3333H15.1667V19.5H10.8333ZM6.5 14.0833V11.9167H19.5V14.0833H6.5ZM3.25 8.66667V6.5H22.75V8.66667H3.25Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="searchBox d-flex align-items-center">
              <input
                type="text"
                name="search"
                placeholder="Search for Products"
              />
              <button
                class="searchBtn d-flex justify-content-center align-items-center"
              >
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.3333 17.6101L11.0833 12.3455C10.6667 12.6798 10.1875 12.9444 9.64583 13.1394C9.10417 13.3343 8.52778 13.4318 7.91667 13.4318C6.40278 13.4318 5.12153 12.9061 4.07292 11.8545C3.02431 10.803 2.5 9.51818 2.5 8.00007C2.5 6.48196 3.02431 5.19714 4.07292 4.1456C5.12153 3.09407 6.40278 2.5683 7.91667 2.5683C9.43056 2.5683 10.7118 3.09407 11.7604 4.1456C12.809 5.19714 13.3333 6.48196 13.3333 8.00007C13.3333 8.61289 13.2361 9.19088 13.0417 9.73406C12.8472 10.2772 12.5833 10.7577 12.25 11.1756L17.5 16.4402L16.3333 17.6101ZM7.91667 11.7605C8.95833 11.7605 9.84375 11.3949 10.5729 10.6637C11.3021 9.93253 11.6667 9.04464 11.6667 8.00007C11.6667 6.9555 11.3021 6.06761 10.5729 5.33641C9.84375 4.60521 8.95833 4.23961 7.91667 4.23961C6.875 4.23961 5.98958 4.60521 5.26042 5.33641C4.53125 6.06761 4.16667 6.9555 4.16667 8.00007C4.16667 9.04464 4.53125 9.93253 5.26042 10.6637C5.98958 11.3949 6.875 11.7605 7.91667 11.7605Z"
                    fill="black"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div> -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 padding">
            <div class="imgMain">
              <div
                class="d-flex justify-content-center align-items-center position-relative demo-area mainImg"
              >
                <!-- <div class="demo-area position-relative">
                  
                </div> -->
                <img
                class="demo-trigger mainFistImg"
                src="/asset/<%= data.productImage[0] %>"
                data-zoom="./images/Items/1c.png"
                alt=""
                />
                <div class="detail"></div>
                <div >
                  <div
                    class="favIcon position-absolute d-flex justify-content-center align-items-center"
                    style="cursor: pointer;"
                  >
                  <% if(wishlistId==null || undefined) {%>
                    <button class="wishlist" style="color:black; width: 40px; border: none; background-color: transparent;" type="button" onclick="wishlist(event,'<%= data._id%>')"><i class="fa-solid fa-heart"></i></button>
                    <% }else{ %>
                      <button class="wishlist" style="color:red; width: 40px; border:none; background-color: transparent;" type="button" onclick="wishlist(event,'<%= data._id%>')"><i class="fa-solid fa-heart"></i></button>
                  <% } %>
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div onclick="changeImg('/asset/<%= data.productImage[1] %>')" class="smImg">
                  <img src="/asset/<%= data.productImage[1] %>" alt="" />
                </div>
                <div onclick="changeImg('/asset/<%= data.productImage[2] %>')" class="smImg">
                  <img src="/asset/<%= data.productImage[2] %>" alt="" />
                </div>
                <div onclick="changeImg('/asset/<%= data.productImage[3] %>')" class="smImg">
                  <img src="/asset/<%= data.productImage[3] %>" alt="" />
                </div>
                <div onclick="changeImg('/asset/<%= data.productImage[0] %>')" class="smImg">
                  <img src="/asset/<%= data.productImage[0] %>" alt="" />
                </div>
              </div>
            </div>
            <div class="productContent">
              <h2 class="pName"><%= data.productName%></h2>
              <p class="pDescription">
                <%= data.description %>
              </p>
              <p class="colorPallet">COLOR:<%= data.colour %> </p>
              <div class="rating d-flex">
                <p class="ratedStar">★</p>
                <p class="ratedStar">★</p>
                <p class="ratedStar">★</p>
                <p class="ratedStar">★</p>
                <p class="unRatedStar">★</p>
              </div>
              <div class="price">
                <p class="lPrice"><%const result = (data.price * data.discount) / 100;
                  const discountedPrice = Math.ceil(data.price-result);%>
                 <%= discountedPrice %> 
                </p>
                <p class="fPrice"><%= data.price%></p>
                <p style="font-size: 10px;"><%= data.discount%>%</p>
              </div>
              <p class="stock text-success"><% if(data.stock>0){%>
                <%='In Stock'%>
                <% }else{%>
                <%='out of stock'%>
              <%}%></p>
              <div class="btnBuy">
                <a href="/userBuyNow/<%= data._id%>">
                  <button class="buyBtn">Buy Now</button>
                </a>
                <a>
                  <button class="cartBtn" type="button" onclick="addToCart(event,'<%= data._id%>')">add to cart</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="rateReview">
              <div
                class="review d-flex align-items-center justify-content-between"
              >
                <h2>Ratings & Reviews</h2>
                <a href="/userProductRate/<%= data._id %>">
                  <button>Rate Product</button>
                </a>
              </div>
              <div class="content">
                <%ProductReview.review.forEach(data =>{ %>
                <div class="userReview">
                  <h2><%=data.title%></h2>
                  <div class="rating d-flex">
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                  </div>
                  <p class="reviewDetails">
                    <%=data.comment%>
                  </p>
                  <p class="ratedUserName"><%=data.UserId.fullName%></p>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    <%- include('footers') -%>
    <!-- end of footer -->

    <!-- custom js -->
    <script src="https://cdn.jsdelivr.net/npm/drift-zoom@1.5.0/dist/Drift.min.js"></script>
    <script src="/js/productDetailPAge.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/wishlist.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
