<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ecart</title>
  <!-- Bootstrap css cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!-- end of Bootstrap css cdn link -->
  <!-- Style css -->
  <link rel="stylesheet" href="/css/userSingleProductPage.css" />
  <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
  <!-- end of Style css -->
</head>

<body>
  <!-- header -->
  <%- include('header') -%>
  <!-- end of header -->

  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 searchBar d-flex align-items-center justify-content-center position-relative">
          <div class="sortOption position-absolute d-flex align-items-center gap-3">
            <div class="fliterIcon">
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.8333 19.5V17.3333H15.1667V19.5H10.8333ZM6.5 14.0833V11.9167H19.5V14.0833H6.5ZM3.25 8.66667V6.5H22.75V8.66667H3.25Z"
                  fill="white" />
              </svg>
            </div>
          </div>
          <div class="searchBox d-flex align-items-center">
            <input type="text" name="search" placeholder="Search for Products" class="searchBar" id="searchProducts" />
            <button class="searchBtn d-flex justify-content-center align-items-center" onclick="searchAllProducts()">
              <i class="fa-solid fa-magnifying-glass" style="color: #eaecf1;"></i>

            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="fliter-moblie">
      <div class="fliterOptions">
        <div class="fliterHead">
          <h2>Filters</h2>
        </div>
        <div class="fliterSubHead">
          <h2>PRICE</h2>
          <form action="/userFliter" method="post">
            <input type="text" value="" hidden />
            <input type="number" value="1000" name="maxPrice" hidden />
            <input class="bg-transparent border-0" type="submit" value="Under ₹1,000" />
          </form>
          <form action="/userFliterByPrice" method="post">
            <input type="text" value="" hidden />
            <input type="number" value="1000" name="minPrice" hidden />
            <input type="number" value="5000" name="maxPrice" hidden />
            <input class="bg-transparent border-0" type="submit" value="₹1,000 - ₹5,000" />
          </form>
          <form action="/userFliterByPrice" method="post">
            <input type="text" value="" hidden />
            <input type="number" value="5000" name="minPrice" hidden />
            <input type="number" value="10000" name="maxPrice" hidden />
            <input class="bg-transparent border-0" type="submit" value="₹5,000 - ₹10,000" />
          </form>
          <form action="/userFliterByPrice" method="post">
            <input type="text" value="" hidden />
            <input type="number" value="10000" name="minPrice" hidden />
            <input type="number" value="20000" name="maxPrice" hidden />
            <input class="bg-transparent border-0" type="submit" value="₹10,000 - ₹20,000" />
          </form>
          <form action="/userFliterByPrice" method="post">
            <input type="text" value="" hidden />
            <input type="number" value="20000" name="minPrice" hidden />
            <input class="bg-transparent border-0" type="submit" value="Over ₹20,000" />
          </form>
          <form action="/userFliterByPrice" method="post">
            <input type="text" value="" hidden />
            <input type="number" value="" name="minPrice" placeholder="Min" required />
            <input type="number" value="" name="minPrice" placeholder="Max" required />
            <button type="submit">Go</button>
          </form>
        </div>
        <div class="fliterSubHead2">
          <h2>Customer Ratings</h2>
          <form class="rateing" action="/userFilterByRateing" method="post">
            <input class="checkbox" type="checkbox" value="4" name="maxRate" required />
            <input type="submit" value="4★ & above" />
          </form>
          <form class="rateing" action="/userFilterByRateing" method="post">
            <input class="checkbox" type="checkbox" value="3" name="maxRate" required />
            <input type="submit" value="3★ & above" />
          </form>
        </div>
        <div class="sort">
          <div class="fliterHead">
            <h2>SORT BY</h2>
          </div>
          <div class="sortOptions">
            <form action="/userFilterByRateing" method="post">
              <input type="number" value="1" name="sort" hidden />
              <input type="submit" value="Price -- Low to High" />
            </form>
            <form action="/userFilterByRateing" method="post">
              <input type="number" value="-1" name="sort" hidden />
              <input type="submit" value="Price -- High to Low" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="fliter">
        <div class="fliterOptions">
          <div class="fliterHead">
            <h2>Filters</h2>
          </div>
          <div class="fliterSubHead">
            <h2>PRICE</h2>
            <form action="/userFliter" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="1000" name="maxPrice" hidden />
              <input class="bg-transparent border-0" type="submit" value="Under ₹1,000" />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="1000" name="minPrice" hidden />
              <input type="number" value="5000" name="maxPrice" hidden />
              <input class="bg-transparent border-0" type="submit" value="₹1,000 - ₹5,000" />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="5000" name="minPrice" hidden />
              <input type="number" value="10000" name="maxPrice" hidden />
              <input class="bg-transparent border-0" type="submit" value="₹5,000 - ₹10,000" />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="10000" name="minPrice" hidden />
              <input type="number" value="20000" name="maxPrice" hidden />
              <input class="bg-transparent border-0" type="submit" value="₹10,000 - ₹20,000" />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="20000" name="minPrice" hidden />
              <input class="bg-transparent border-0" type="submit" value="Over ₹20,000" />
            </form>
            <form action="/userFliterByPrice" method="post">
              <input type="text" value="" hidden />
              <input type="number" value="" name="minPrice" placeholder="Min" required />
              <input type="number" value="" name="minPrice" placeholder="Max" required />
              <button type="submit">Go</button>
            </form>
          </div>
          <div class="fliterSubHead2">
            <h2>Customer Ratings</h2>
            <form class="rateing" action="/userFilterByRateing" method="post">
              <input class="checkbox" type="checkbox" value="4" name="maxRate" required />
              <input type="submit" value="4★ & above" />
            </form>
            <form class="rateing" action="/userFilterByRateing" method="post">
              <input class="checkbox" type="checkbox" value="3" name="maxRate" required />
              <input type="submit" value="3★ & above" />
            </form>
          </div>

          <div class="sort">
            <div class="fliterHead">
              <h2>SORT BY</h2>
            </div>
            <div class="sortOptions">
              <a href="/sort?value=1">
                <input type="number" value="1" name="sort" hidden />
                <input type="submit" value="Price -- Low to High" />
              </a>
              <br>
              <a href="/sort?value=-1">
                <input type="number" value="-1" name="sort" hidden />
                <input type="submit" value="Price -- High to Low" />
              </a>
            </div>
          </div>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row">
          <%data.forEach((data)=>{ %>
            <div class="smallWidth col-6 col-md-4" onclick="window.location.href='/details/<%=data._id%>'">

              <a>
                <div class="shopItems">

                  <div class="mainItem">
                    <div class="itemImg itemImgOne d-flex align-items-center position-relative justify-content-center">

                      <img src="/asset/<%= data.productImage[0]%>" alt="" />

                    </div>
                    <div class="itemDescription text-center">
                      <h2>
                        <%=data.productName%>
                      </h2>
                      <p>
                        <%=data.subCategory%>
                      </p>
                      <div class="price d-flex align-items-baseline justify-content-center">
                        <p class="p-0 m-0">₹<%=data.price%>
                        </p>
                        <p class="p-0 m-0">₹<%=data.price%>
                        </p>
                      </div>
                      <div>
                        <a href="/userCartCheckOut/<%=data._id%>">
                          <button class="buyBtn">BUY NOW</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
        </div>

      </div>

    </div>
  </main>
  <!-- end of main -->

  <!-- footer -->
  <%- include('footers') -%>
  <!-- end of footer -->

  <!-- custom js -->
  <script src="./js/userSingleProductPage.js"></script>
  <!-- end of custom js -->
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>

  <!-- end of fontawesome -->
  <!-- Bootstrap script file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!--end of Bootstrap script file -->

  <script>
    async function searchAllProducts() {
      try {
        const searchBar = document.getElementById('searchProducts')
        const searchvalue = searchBar.value.trim()
        if (searchvalue) {
          window.location.href = `/showAllproducts?search=${searchvalue}`
        }
      } catch (error) {
        console.log(error);
      }
    }
  </script>
</body>

</html>