<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Account</title>
  <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
  <!-- Bootstrap css cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!-- end of Bootstrap css cdn link -->
  <!-- Style css -->
  <link rel="stylesheet" href="./css/userPayment.css" />
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
  <!-- end of Style css -->
</head>

<body>
  <!-- header -->
  <%- include('header') -%>
    <!-- end of header -->

    <!-- main -->
    <main>
      <!-- Modal -->
      <div class="modal fade" id="changeAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content bg-white eachAdd border-0">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Address
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% data.address.forEach((data)=>{ %>
                <div class="chooseAdd existingAddress p-3 w-100 mb-3 position-relative">
                  <p class="name">
                    <%= userName.fullName %>
                  </p>
                  <p>
                    <%= data.locality %>, <%= data.hNo %>, <%= data.district %>,PIN: <%= data.pin %>
                  </p>
                  <p class="phone">Phone: <%= userName.phoneNumber %>
                  </p>
                  <input name="adId" class="position-absolute radio" type="radio"
                    value="<%= data.locality %>, <%= data.hNo %>, <%= data.district %>,PIN: <%= data.pin %>">
                </div>
                <% }) %>

                  <p class="m-0"><a href="/addAddress" class="button">Add Address</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary bg-danger text-white" data-bs-dismiss="modal">
                Close
              </button>
              <!-- Add additional buttons or actions as needed -->
            </div>
          </div>
        </div>
      </div>
      <!-- end of Modal -->
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartBody d-flex">
              <div class="col-6 oneSection">
                <div class="cartItems">
                  <div class="items position-relative mb-3">
                    <div class="d-flex payOptions align-items-center gap-3">
                      <input class="pay" name="payMethode" value="razorpay" type="radio" id="creditCard"
                        onchange="payment('COD')" />
                      <h2 class="m-0">Cash On Delivery (COD)</h2>
                    </div>

                  </div>

                  <div class="items position-relative mb-3">
                    <div class="d-flex payOptions align-items-center gap-3">
                      <input class="pay" name="payMethode" value="COD" type="radio" id="COD"
                        onchange="payment('razorpay')" />
                      <h2 class="m-0">Razore Pay</h2>
                    </div>
                  </div>

                  <div class="coupons">
                    <form action="/userApplyCoupon" class="d-flex align-items-center" method="post">
                      <div class="input">
                        <input type="text" placeholder="Enter Coupon Code" />
                      </div>
                      <div>
                        <button type="submit">APPLY</button>
                      </div>
                    </form>
                  </div>

                  <div class="orderSummary m-0 w-100">
                    <div class="orderHeading">
                      <h2>Delivery Address</h2>
                    </div>
                    <div class="deleviryContent">
                      <div class="chooseAdd position-relative">
                        <div class="existingAddress">
                          <p class="name">
                            <%= userName.fullName %>
                          </p>
                          <p id="addressSlot">
                            <%= data.address[0].hNo %>, <%= data.address[0].district%>, PIN: <%= data.address[0].pin %>
                          </p>
                          <p class="phone">Phone: 98675555568</p>
                        </div>
                        <a href="/userChangeAddress" data-bs-toggle="modal" data-bs-target="#changeAddressModal">
                          <button class="position-absolute button">
                            Change
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 oneSection">
                <div class="orderSummary">
                  <div class="orderHeading">
                    <h2>order summary</h2>
                  </div>
                  <div class="orderContent">
                    <div class="sTotal d-flex justify-content-between align-items-center">
                      <p class="commonText m-0 p-0">Subtotal</p>
                      <p class="commonSub m-0 p-0" id="sTotal">₹<%= total %>
                      </p>
                    </div>

                    <div class="ship d-flex justify-content-between align-items-center">
                      <p class="commonText m-0 p-0">Shipping</p>
                      <p class="commonSub m-0 p-0" id="free">FREE</p>
                    </div>

                    <div class="ship d-flex justify-content-between align-items-center">
                      <p class="commonText m-0 p-0">Coupon Discount</p>
                      <p class="commonSub m-0 p-0" id="cDPrice">0</p>
                    </div>
                  </div>
                  <div class="commonText tPrice d-flex justify-content-between align-items-center">
                    <p class="m-0 p-0">Total</p>
                    <p class="m-0 p-0" id="tPrice">₹<%= total %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="checkOut">
              <form action="/userCartCheckOut">
                <button class="proceedBtn">Proceed to payment</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    <%- include('footers') -%>
      <!-- end of footer -->

      <!-- custom js -->
      <!-- <script src="./js/userPayment.js"></script> -->

      <!-- end of custom js -->
      <!-- fontawesome -->
      <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
      <!-- end of fontawesome -->
      <!-- Bootstrap script file -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

      <script>
        async function applyCoupon(event, totalPrice) {
          event.preventDefault()
          try {
            const CouponName = document.querySelector('.couponName').value;
            const discount = document.getElementById('cDPrice')
            const response = await axios.post('/applyCoupon', {
              couponCode: CouponName,
              Amount: totalPrice

            })
            const result = response.data.Total
            const discountPercentage = response.data.discount
            if (result) {
              document.getElementById('tPrice').innerHTML = result
              document.getElementById('cDPrice').innerHTML = discountPercentage + '%'
            }
            console.log(result);

          } catch (error) {
            console.log(error);
          }
        }
    //  selecting payment method and passing it using axios
        let payOption; 

        function payment(paymentMethod) {
          payOption = paymentMethod;
          console.log(payOption); 
        }

        let proceedButton = document.querySelector('.proceedBtn')
        proceedButton.addEventListener('click', async (e) => {
          e.preventDefault()
          const phoneNumber=document.querySelector('.phone').innerHTML
          const address=document.getElementById('addressSlot').innerHTML
          console.log(phoneNumber,address)
          const response = await axios.post('/usersCheckout',{
          phone:phoneNumber,
          paymentAddress:address,
          paymentMethod:payOption
        })
      const result=response.data
      if(result.COD == true){
        window.location.href='/success'
      }else{
        const RazorpayOrder = result.razorpayOrder
        const options = {
          key:'rzp_test_rtBq042RJdPlvA',
          amount:RazorpayOrder.amount,
          currency:RazorpayOrder.currency,
          name:'ASTERISK',
          description:'Test Payment',
          order_id:RazorpayOrder.id,
          handler:async function(response){
            console.log('REached in handlewr');
             const orderResponse = await axios.post('/razorpayment');
             const orderResult = orderResponse.data
             if (orderResult.success === true) {
              window.location.href='/success'
             }
          }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open();
      }
        });


      </script>
</body>

</html>