<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Account</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href='/css/wishlist.css' />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <!-- end of Style css -->
  </head>
  <body>
    <!-- header -->
    <%- include('header') -%>
    <!-- end of header -->

    <!-- main -->
    <main>
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartHead">
              <div class="d-flex align-items-center gap-2">
                <h2 class="m-0 p-0 countwishlist">wishlist(<%=products.length%>)</h2>
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 7.41421C4 7.20984 4 7.10765 4.03806 7.01577C4.07612 6.92388 4.14838 6.85162 4.29289 6.70711L5.82843 5.17157C6.40649 4.59351 6.69552 4.30448 7.06306 4.15224C7.4306 4 7.83935 4 8.65685 4H15.3431C16.1606 4 16.5694 4 16.9369 4.15224C17.3045 4.30448 17.5935 4.59351 18.1716 5.17157L19.7071 6.70711C19.8516 6.85162 19.9239 6.92388 19.9619 7.01577C20 7.10765 20 7.20984 20 7.41421V8H4V7.41421Z"
                    stroke="black"
                    stroke-width="2"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M21 8H3V17C3 18.8856 3 19.8284 3.58579 20.4142C4.17157 21 5.11438 21 7 21H17C18.8856 21 19.8284 21 20.4142 20.4142C21 19.8284 21 18.8856 21 17V8ZM10 11C10 10.4477 9.55228 10 9 10C8.44772 10 8 10.4477 8 11C8 12.0609 8.42143 13.0783 9.17157 13.8284C9.92172 14.5786 10.9391 15 12 15C13.0609 15 14.0783 14.5786 14.8284 13.8284C15.5786 13.0783 16 12.0609 16 11C16 10.4477 15.5523 10 15 10C14.4477 10 14 10.4477 14 11C14 11.5304 13.7893 12.0391 13.4142 12.4142C13.0391 12.7893 12.5304 13 12 13C11.4696 13 10.9609 12.7893 10.5858 12.4142C10.2107 12.0391 10 11.5304 10 11Z"
                    fill="black"
                  />
                </svg>
              </div>
            </div>
            <div class="cartBody d-flex">

              <div class="col-6 oneSection">

           

           <%products.forEach((data)=>{%>
                <div class="cartItems delete_tr<%=data._id%>">
                  <div class="items position-relative">
                    <button>
                    <i class="fa-solid fa-trash-can position-absolute deleteBtn" onclick="removeWishlist('<%=data._id%>')" ></i>
                  </button>
                    <div class="contentDiv d-flex gap-4">
                      <div class="itemImg">
                        <a href="/details/<%= data._id %>">
                        <img src="/asset/<%= data.productImage[0]%>" alt="" />
                      </a>
                      </div>
                      <div class="productDetails">
                        <h2><%=data.productName%></h2>
                        <p class="color">COLOR</p>
                        <p class="cName"><%=data.colour%></p>
                        <div class="price d-flex align-items-baseline gap-2">
                            <%const result = (data.price * data.discount) / 100;
                            const discountedPrice = Math.ceil(data.price - result);%>
                          <p class="lPrice">₹<%=discountedPrice%></p>
                          <p class="fPrice">₹<%=data.price%></p>
                          <p><%=data.discount%>%</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- end of main -->

    <!-- footer -->
    <%- include('footers') -%>
    <!-- end of footer -->

    <!-- custom js -->
    <script >
      const count=document.querySelector('.countwishlist')
     async function removeWishlist(id){
      console.log(id);
      try {
        const response = await axios.delete('/wishlistDelete/'+id);
        const result = response.data;
        if (result.message === true) {
        document.querySelector('.delete_tr'+id).remove()
        } else {
          console.log("remove wishlist error");
        }
      } catch (error) {
        console.log(error)
      }
     }
    </script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
 </body>
</html>
